<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
	<header class="p-3 text-white" style="background-color:#333333">
		<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-between">
					<div class="col">HomePage</div>

					<ul class="nav col-8 col-lg-8 me-lg-auto mb-2 justify-content-end mb-md-0">
						<li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
						<li><a href="#" class="nav-link px-2 text-white">About</a></li>
						<li><a href="#" class="nav-link px-2 text-white">Work</a></li>
						<li><a href="#" class="nav-link px-2 text-white">Team</a></li>
						<li><a href="#" class="nav-link px-2 text-white">Contact</a></li>
					</ul>

					<ul class="nav col-1 col-lg-1 mb-4 justify-content-end mb-md-0">
						<li class="me-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
								<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
							</svg>
						</li>
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
								<path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
							</svg>
						</li>
					</ul> 
			</div>
		</div>
	</header>
	<div class="bg h-50 py-5" style="background-color:#333333">
		<div class="container text-white py-5">
			<div class="row flex-lg-row align-items-center g-5 py-5">
				<div class="col-lg-6">
					<h1 class="display-7 fw-bold lh-1 mb-5">Calypso Studio Designs 3d product experiences that transcend reality</h1>
					<span><u>Work With us</u></span>
				</div>
			</div>
		</div>
	</div>

	<div class="bg">
		<div class="row g-0 hover06">
			<div class="col hover06_1">
				<img src="../../assets/img/nasa1.jpg" class="img-fluid d-block" alt="...">
			</div>
			<div class="col hover06_1">
				<img src="../../assets/img/nasa2.jpg" class="img-fluid d-block" alt="...">
			</div>
			<div class="col hover06_1">
				<img src="../../assets/img/nasa3.jpg" class="img-fluid d-block" alt="...">
			</div>
			<div class="col hover06_1">
				<img src="../../assets/img/nasa4.jpg" class="img-fluid d-block" alt="...">
			</div>
		</div>
	</div>

	<div class="bg">
		<div class="container col-xxl-8 px-4 py-5">
			<div class="row flex-lg-row-reverse g-5 py-5">
				<div class="col-10 col-sm-8 col-lg-6">
					<img src="../../assets/img/nasa5.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
				</div>
				<div class="col-lg-6">
					<h1 class="display4 fw-thin lh-1 mb-3">We create objects that blur the line between real & virtual</h1>
					<p class="lead"><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</small></p>
				</div>
			</div>
		</div>
	</div>

	<div class="bg" style="background-color: #FFEFEF;">
		<div class="container h-50 col-xxl-8 px-4 py-5">
			<div class="row h-100 align-items-center">
				<div class="row-lg-6">
					<h1 class="display-5 fw-thin">Who we are</h1>
					<p class="lead mb-4">Paragraph text comes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bg" style="background-color: #000000;">
		<div class="container h-50 col-xxl-8 px-4 py-5 text-white">
			<div class="d-flex justify-content-between h-100 align-items-center">
				<div class="col-10 col-sm-8 col-lg-4">
					<h1 class="display4 fw-bold mb-3 fs-1">
						<div class="row mb-3">Our</div> 
						<span class="row">Achievements</span>
					</h1>
				</div>
				<div class="col-lg-8">
					<div class="row row-cols-2 g-5">
						<div class="col">
							<div class="row fs-2">The Fusion Award</div>
							<div class="row">2021</div>
						</div>
						<div class="col">
							<div class="row fs-2">The Fusion 1231</div>
							<div class="row">2021</div>
						</div>
						<div class="col">
							<div class="row fs-2">The Fusion 333</div>
							<div class="row">2021</div>
						</div>
						<div class="col">
							<div class="row fs-2">The Fusion Aw44ard</div>
							<div class="row">2021</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="bg">

	</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<style>
img.d-block{
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.hover06_1{
	overflow: hidden;
}
/* Rotate */
.hover06 .hover06_1 img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover06 .hover06_1:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

</style>